body {
    font-family: $fontFamily;
    background-color: $backGroundColor; 
    .main-wrapper {
        max-width: 850px;
        margin: auto;
        header {
            position: relative;
            .logo {
                img {
                    max-width: 300px;
                }
            }
            nav {
                position: absolute;
                right: 0;
                top: 120px;
                width: 550px;
                display: flex;
                justify-content: space-around;
                border-top: $linesBorderColor;
                border-bottom: $linesBorderColor;
                padding: 15px 0;
                text-transform: uppercase;
                a {
                    text-decoration: none;
                    text-align: center;
                    color: $mainStyleColor;
                }
            } 
        }
        .toolbar {
            display: flex;
            justify-content: flex-end;
            input {
                border: 1px solid $mainStyleColor;
                padding: 8px 13px;
                margin: 15px 0;
                color: $mainStyleColor;
                background-color: $backGroundColor;
                &::placeholder {
                    color: $mainStyleColor;
                }
            }
        }
        .post-list {
            position: relative;
            article {
                border: 9px solid rgba(255,255,255,0.001);
                background-color: $sectionBackGroundColor;
                position: absolute;
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    top: 0;
                    right: 0;
                }
                &:nth-child(3) {
                    top: $articleTopOne;
                    left: 0;
                }
                &:nth-child(4) {
                    top: $articleTopOne;
                    right: 0;;
                }
                &:nth-child(5) {
                    top: $articleTopTwo;
                    left: 0;
                }
                &:nth-child(6) {
                    top: $articleTopTwo;
                    right: 0;;
                }
                div {
                    .post-description {
                        font-size: 11px;
                        padding: 5px 0 0 15px;
                        color: $imgSignatureColor;
                    }
                    h3 {
                        text-transform: uppercase;
                        padding-top: 5px;
                        margin: 5px 10px;
                        border-top: $linesBorderColor;
                        color: $titleColor;
                        font-size: $hFontSize;
                        font-weight: bold;
                    }
                    p {
                        margin: 5px 10px;
                        padding-bottom: 10px;
                        color: $textColor;
                        font-size: $pFontSize;
                        line-height: $lineHeightText;
                    }
                }
            }
            img, div {
                max-width: 395px;
            }   
        }
        .about {
            margin-top: 1625px;
            div {
                margin: 0 10px;
                h1 {
                    text-align: right;
                    text-transform: uppercase;
                    color: $mainStyleColor;
                    margin-bottom: 0;
                }
                p {
                    color: $textColor;
                    font-size: $pFontSize;
                    line-height: $lineHeightText;
                    margin-top: 0;
                }
                img {
                    max-width: 830px;
                }
            }
        }
        .contact-form {
            margin-top: 50px;
            h1 {
                text-align: right;
                text-transform: uppercase;
                color: $mainStyleColor;
                margin: 0;
            }
            h4 {
                text-align: right;
                text-transform: uppercase;
                color: $mainStyleColor;
                margin: 0;
                font-size: 14px;
            }
            .inputtext {
                float: right;
                width: 815px;
                margin: 10px 0;
                padding: 10px 15px;
                background-color: $backGroundColor;
                border: $linesBorderColor;
            }
            #areatext {
                font-family: sans-serif;
            }
            #submitbutton {
                float: right;
                display: flex;
                justify-content: center;
                padding: 10px 15px;
                margin: 6px 0;
                background-color: $mainStyleColor;
                color: white;
                text-transform: uppercase;
                width: 180px;
                font-size: 12px;
                border: none;
            }
        }
        footer {
            margin-top: 260px;
            font-size: 11px;
            color: $textColor;
            padding-left: 5px;
        }
    }   
}
