$mainStyleColor: #fc5e38;
$linesBorderColor: #d5dce0 1px solid;
$backGroundColor: #efefef;
$sectionBackGroundColor: #ffffff;
$imgSignatureColor:#bdbdbd;
$titleColor:#667f8b;
$fontFamily: "Times New Roman", Times, serif;
$textColor:#757575;
$hFontSize: 18px;
$pFontSize: 17px;
$lineHeightText: 1.3;
$articleTopOne: 690px;
$articleTopTwo: 1171px;