$mainStyleColor: #1fbcd3;
$linesBorderColor: rgb(142,162,171) 1px solid;
$backGroundColor: #ffffff;
$sectionBackGroundColor:#efefef;
$imgSignatureColor:#159587;
$titleColor:#1697a6;
$fontFamily: Arial, Helvetica, sans-serif;
$textColor:#567186;
$hFontSize: 16px;
$pFontSize: 14px;
$lineHeightText: 1.5;
$articleTopOne: 662px;
$articleTopTwo: 1133px;